<?php

return [
    'zf2reactjsmodule' => [
        'react_path' => 'js/react',        // required
        'components_path' => 'js/react/components',   // required
        'render_method' => 'v8js', // or 'external'
        'render_url' => '',
        'renderer' => '',
        'client' => '',
        'external_adapter' => '',
        'v8js_adapter' => ''
    ],
];
